.handBase {
  position: fixed;
  top: 50%;
  left: calc(50% - 8px);
  width: 0;
  height: 0;
  margin-top: -2;
}

.handL {
  position: absolute;
  top: 120px;
  right: 80px;
  z-index: -1;
  width: 145px;
  height: 145px;
  background: #f4a5aa;
  border: solid #040000 8px;
  border-radius: 50px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 90px;
}

.handLshadow {
  position: absolute;
  top: 120px;
  right: 80px;
  z-index: -1;
  width: 145px;
  height: 145px;
  background: #eb6b8e;
  border: solid #040000 8px;
  border-radius: 50px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 90px;
}
