.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.body {
  position: absolute;
  top: 0;
  left: -177.5px;
  width: 355px;
  height: 365px;
  background: #f4a5aa;
  border: solid #040000 8px;
  border-radius: 50%;
}

.bodyline {
  position: absolute;
}

.bodylineE {
  position: absolute;
  top: 152px;
  right: -179px;
  width: 358px;
  height: 98px;
  background: #f4a5aa;
}



.eyeRt {
  position: absolute;
  top: 70px;
  right: 30px;
  width: 40px;
  height: 60px;
  background: #040000;
  border-radius: 50%;
}

.eyeRr {
  position: absolute;
  top: 88px;
  right: 62px;
  z-index: 1;
  width: 10px;
  height: 67px;
  background: #040000;
  border-radius: 50%;
}

.eyeRu {
  position: absolute;
  top: 114px;
  right: 30px;
  z-index: 2;
  width: 40px;
  height: 60px;
  background: #0474bc;
  border: #040000 8px solid;
  border-radius: 50%;
}

.eyeRl {
  position: absolute;
  top: 88px;
  right: 28px;
  width: 10px;
  height: 67px;
  background: #040000;
  border-radius: 50%;
}

.eyeRm {
  position: absolute;
  top: 102px;
  right: 33px;
  z-index: 3;
  width: 34px;
  height: 40px;
  background: #040000;
  border-radius: 50%;
}

.highlightR {
  position: absolute;
  top: 80px;
  right: 39px;
  z-index: 4;
  width: 22px;
  height: 41px;
  background: #fff;
  border-radius: 50%;
}

.cheekL {
  position: absolute;
  top: 155px;
  left: 70px;
  z-index: 1;
  width: 60px;
  height: 35px;
  background: #ea6896;
  border-radius: 50%;
}

.cheekR {
  position: absolute;
  top: 155px;
  right: 70px;
  z-index: 1;
  width: 60px;
  height: 35px;
  background: #ea6896;
  border-radius: 50%;
}

.mouth {
  position: absolute;
  top: 160px;
  left: -25px;
  width: 50px;
  height: 36px;
  border: solid 5px #040000;
  border-color: #040000;
  border-radius: 50%;
}

.mouthE {
  position: absolute;
  top: 151px;
  left: -30px;
  width: 60px;
  height: 30px;
  background: #f4a5aa;
}

.handL {
  position: absolute;
  top: 120px;
  right: 80px;
  z-index: -1;
  width: 145px;
  height: 145px;
  background: #f4a5aa;
  border: solid #040000 8px;
  border-radius: 50px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 90px;
}

.handR {
  position: absolute;
  top: 120px;
  left: 80px;
  z-index: -1;
  width: 145px;
  height: 145px;
  background: #f4a5aa;
  border: solid #040000 8px;
  border-radius: 50px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 90px;
}

.legL {
  position: absolute;
  top: 280px;
  right: -30px;
  z-index: -1;
  width: 210px;
  height: 130px;
  background: #e0005b;
  border: solid #040000 8px;
  border-radius: 40% 60% 65% 35%/80% 30% 70% 20%;
}

.legR {
  position: absolute;
  top: 200px;
  left: -30px;
  z-index: -1;
  width: 210px;
  height: 210px;
  background: #e0005b;
  border: solid #040000 8px;
  border-radius: 50px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 300px;
}

.base {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin-top: -200px;
}
